<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;family=Roboto:wght@500;700&amp;display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/public/lib/owl/owl.carousel.min.css" rel="stylesheet">
    <link href="/public/lib/bootstrapDash.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/public/css/dash.css" rel="stylesheet">

    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
</head>

<body>
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>


            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item spacer">
                    <a href="/dashboard" class="nav-link">
                        <span id="username">John Doe</span>
                    </a>
                </div>
                <span aria-hidden="true" class="spacer">&times;</span>
                <div class="nav-item">
                    <a href="/logout">Log out</a>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-3">
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Unique Visits</p>
                            <h6 class="mb-0" id="unique_visits"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Average duration</p>
                            <h6 class="mb-0" id="avg_duration"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-area fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Bounce rate</p>
                            <h6 class="mb-0" id="bounce_rate"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->
        <!-- Sales Chart Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Browser categories used</h6>
                </div>
                <canvas id="Browser_category"
                    style="display: block; box-sizing: border-box; height: 394px; width: 788px;" width="788"
                    height="394"></canvas>
            </div>
        </div>
        <!-- Sales Chart End -->
        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Map</h6>
                </div>
                <main>
                    <canvas id="cobe" style="width: 500px; height: 500px" width="1000" height="1000"></canvas>
                </main>
            </div>
        </div>
        <!-- Recent Sales End -->
        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        © <a href="https://ridheshw.netlify.app">Ridhesh w</a>, All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top" style="display: none;"><i
            class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/lib/chart/chart.min.js"></script>
    <script src="/public/lib/easing/easing.min.js"></script>
    <script src="/public/lib/waypoints/waypoints.min.js"></script>
    <script src="/public/lib/owl/owl.carousel.min.js"></script>
    <script src="/public/lib/js/moment.min.js"></script>
    <script src="/public/lib/js/moment-timezone.min.js"></script>
    <script src="/public/lib/bootstrapDash.min.js"></script>

    <!-- Template Javascript -->
    <script type="module" src="/public/js/globe-rotate-dash.js"></script>
    <script src="/public/js/dash.js"></script>
</body>

</html>